extends layout

block content
  if country == 'wx'|| country == 'WX'
    h1 The top song worldwide today is:
    h2 #{song} by #{artist}
  else
    h1 The top song in #{country} today is:
    h2 #{song} by #{artist}



